.header{
	width: 800px;
	height: 30px;
	background: gray;
	margin: 100px auto;
	opacity: 0.8;
	position: fixed;
	left: 300px;
	top: -10px;
	z-index: 999;
}
.header ul li{
	width: 160px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
}
.header ul li:nth-child(3){
	background: red;
}
.header img{
	position: absolute;
	left: 368px;
	top: -83px;
}
.main .carousel{
	position: relative;
	width: 600px;
	height: 350px;
	background: blue;
	margin:0 auto;
	margin-top: 150px;
	border: 1px solid black;
}
.main .carousel img{
	width: 100%;
	height: 100%;
}
.main .carousel .left-btn,
.main .carousel .right-btn
{
	width: 20px;
	height: 40px;
	background: gray;
	position: absolute;
	top:155px;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
}
.main .carousel .left-btn{
	left: 0;
}
.main .carousel .right-btn{
	right: 0;
}
.main .carousel ul li{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: pink;
	border-radius: 10px;
	float: left;
	margin-left: 10px;
}
.main .carousel ul{
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.main .left-ad,
.main .right-ad{
	width: 50px;
	height: 100px;
	background: pink;
	position: fixed;
	top: 300px;
}
.main .left-ad{
	left: 0;
}
.main .right-ad{
	right: 0;
}
.section .box1{
	width: 500px;
	height: 1500px;
	background: skyblue;
	margin: 10px auto;
}
.section .return-top{
	display: block;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: gray;
	text-align: center;
	text-decoration: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
}